<h3>Add New Todo</h3>
<form action="/todo/add" method="POST">
    <label for="title">Write Todo</label><br>
    <input type="text" name="title" id="title">
    <a href="/">cancel</a>
    <input type="submit" value="Add Todo">
</form>